body {
    font-family: 'PT Sans', sans-serif;
}

#frame {
    padding: 0.25in;
}

#updated {
    background-color: yellow;
    float: right;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 12px 8px 12px;
}
#available {
    background-color: green;
    margin-left: auto;
    margin-right: auto;
    padding: 100px 120px 80px 120px;
}

#occupied {
    background-color: red;
    margin-left: auto;
    margin-right: auto;
    padding: 100px 120px 80px 120px;
}

.data {
	color: #00F0FF;
    margin-top: 12px;
}

.interval {
	color: #00F0FF;
}